@import 'fonts.css';

:root {
    --font-N: 'Lato';
    --prim-header-bg: #FFF5F5;
    --prim-main-bg: #fff;
    --prim-footer-bg: #050C26;
    --prim-title-color: #050C26;
    --sec-title-color: #fff;
    --prim-subtitle-color: #575859;
    --sec-subtitle-color: #fff;
    --prim-txt-color: #575859;
    --sec-txt-color: #fff;
    --hover-link-color: #3988FF;
    --btn-bg: #3988FF;
    --btn-txt-color: #fff;
    --btn-sec-color: #3988FF;
    --play-arrow-color: #1B45DA;
    --inactive-card-bg: #F3F3F3;
    --inactive-card-outer-bg: rgba(0, 0, 0, 0.658);
    --inactive-card-outer-filter: blur(20px);
    --active-card-bg: linear-gradient(180deg, #D93059 0%, #D95B7A 100%);
    --line-1-color: #E41A1A;
    --line-1-bg: #e41a1a21;
    --line-2-color: #DA5A12;
    --line-2-bg: #da5b1221;
    --line-3-color: #5BBB10;
    --line-3-bg: #5abb1021;
    --line-4-color: #15C1CC;
    --line-4-bg: #15c0cc21;
    --features-card-border: 1px solid rgba(5, 12, 38, 0.05);
    --featuers-card-1-circle: rgba(255, 96, 96, 0.1);
    --featuers-card-2-circle: rgba(243, 83, 170, 0.1);
    --featuers-card-3-circle: rgba(197, 72, 255, 0.1);
    --featuers-card-4-circle: rgba(79, 158, 252, 0.1);
    --plan-btn-outer-border: 1px solid #3988FF;
    --plan-card-inactive-bg: #fff;
    --plan-card-active-bg-top: linear-gradient(180deg, #D95374 0%, #D32852 100%);
    --plan-card-active-bg-bot: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
    --plan-card-top-shad: 0px 1px 0px rgba(153, 153, 153, 0.14);
    --plan-card-bot-shad: 0px 4px 30px rgba(153, 153, 153, 0.14);
    --footer-bg: #050C26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-N);
    background: var(--prim-main-bg);
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--prim-txt-color);
    font-size: 18px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3 {
    font-size: 43px;
    color: var(--prim-title-color);
}

p {
    font-size: 18px;
    color: var(--prim-txt-color);
    line-height: 28.8px;
}

.section__name {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    color: var(--prim-header-bg);
    font-size: 69px;
    z-index: -1;
}

/* header start */

.header {
    background: var(--prim-header-bg);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header__nav {
    padding: 40px 0 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--prim-title-color);
}

.header__list {
    display: flex;
    column-gap: 50px;
}

.header__link {
    position: relative;
    transition: 500ms;
}

.header__link:hover {
    color: var(--hover-link-color);
}

.header__link::before {
    position: absolute;
    content: '';
    top: 120%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 10%;
    border-radius: 20px;
    background: var(--hover-link-color);
    transition: 500ms;
}

.header__link:hover::before {
    width: 90%;
}

.header__btns {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header__btn {
    width: 134px;
    padding: 15px 0;
    border: 1px solid var(--btn-bg);
    border-radius: 5px;
    text-align: center;
    background: var(--btn-bg);
    color: var(--btn-txt-color);
}

.header__hiden {
    display: none;
}

.header__hiden-link {
    font-size: 24px;
}

.header__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 168px 0 250px;
}

.header__title {
    font-size: 69px;
    font-weight: 700;
    line-height: 82.2px;
    max-width: 550px;
    width: 100%;
}

.header__title span {
    color: var(--btn-bg);
}

.header__subtitle {
    max-width: 496px;
    width: 100%;
    margin-top: 25px;
}

.header__video {
    max-width: 212px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header__video-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--prim-main-bg);
    display: grid;
    place-items: center;
}

.header__video-btn i {
    font-size: 22px;
    color: var(--btn-bg);
}

.header__video-txt {
    font-weight: 600;
    color: var(--prim-title-color);
}

.header__banner {
    position: absolute;
    top: 0;
    left: 37%;
}

.custom-shape-divider-bottom-1621883042 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1621883042 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1621883042 .shape-fill {
    fill: #FFFFFF;
}

/* header end */

/* about start */

.about {
    position: relative;
    padding: 96px 0 96px;
}

.about__container {
    position: relative;
}

.about__title,
.about__subtitle {
    text-align: center;
}

.about__subtitle {
    margin-top: 25px;
}

.about__content {
    display: flex;
    justify-content: flex-end;
    margin-top: 124px;
}

.about__list {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    max-width: 488px;
    width: 100%;
}

.about__item {
    position: relative;
}

.about__item-persent {
    position: absolute;
    top: 25px;
    font-size: 25px;
    font-weight: 600;
    transform: translateX(-45%);
}

.about__item:nth-of-type(1) .about__item-persent {
    left: 80%;
    color: var(--line-1-color);
}

.about__item:nth-of-type(2) .about__item-persent {
    left: 90%;
    color: var(--line-2-color);
}

.about__item:nth-of-type(3) .about__item-persent {
    left: 75%;
    color: var(--line-3-color);
}

.about__item:nth-of-type(4) .about__item-persent {
    left: 80%;
    color: var(--line-4-color);
}

.about__item-name {
    font-size: 25px;
    font-weight: 600;
}

.about__line {
    width: 100%;
    height: 15px;
    border-radius: 15px;
    margin-top: 35px;
    overflow: hidden;
}

.about__item:nth-of-type(1) .about__line {
    background: var(--line-1-bg);
}

.about__item:nth-of-type(2) .about__line {
    background: var(--line-2-bg);
}

.about__item:nth-of-type(3) .about__line {
    background: var(--line-3-bg);
}

.about__item:nth-of-type(4) .about__line {
    background: var(--line-4-bg);
}

.about__line-bar {
    height: 15px;
    border-radius: 15px;
}

.about__item:nth-of-type(1) .about__line-bar {
    width: 80%;
    background: var(--line-1-color);
}

.about__item:nth-of-type(2) .about__line-bar {
    width: 90%;
    background: var(--line-2-color);
}

.about__item:nth-of-type(3) .about__line-bar {
    width: 75%;
    background: var(--line-3-color);
}

.about__item:nth-of-type(4) .about__line-bar {
    width: 80%;
    background: var(--line-4-color);
}

.about__image {
    position: absolute;
    top: 32%;
    left: -15%;
    max-width: 718px;
    width: 100%;
    height: 535px;
    border-radius: 10px;
}

/* about end */

/* featuers start */

.featuers {
    padding: 94px 0 70px;
    position: relative;
}

.features__title,
.featuers__subtitle {
    text-align: center;
}

.featuers__subtitle {
    margin-top: 25px;
}

.features__cards {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.features__card {
    max-width: 263px;
    width: 100%;
    padding: 27px 10px 27px;
    border: 1px solid rgba(5, 12, 38, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.features__card:nth-of-type(1) .features__card-image {
    background: var(--featuers-card-1-circle);
}
.features__card:nth-of-type(2) .features__card-image {
    background: var(--featuers-card-2-circle);
}
.features__card:nth-of-type(3) .features__card-image {
    background: var(--featuers-card-3-circle);
}
.features__card:nth-of-type(4) .features__card-image {
    background: var(--featuers-card-4-circle);
}

.features__card-title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.features__card-subtitle {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.features__btn {
    width: 137px;
    padding: 10px 0;
    background: var(--btn-bg);
    color: var(--btn-txt-color);
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}

/* featuers end */

/* service start */

.service {
    padding: 70px 0;
    overflow: hidden;
}

.servise__container {
    position: relative;
}

.service__title {
    text-align: left;
    max-width: 492px;
    width: 100%;
}

.service__subtitle {
    margin-top: 25px;
    max-width: 604px;
    width: 100%;
}

.servise__grouopDots {
    position: absolute;
    top: -3%;
    right: -20%;
}

.service__cards {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'card1 card1 card1'
    'card1 card1 card1';
    gap: 60px 30px;
}

.service__card {
    position: relative;
    overflow: hidden;
    max-width: 360px;
    width: 100%;
    height: 413px;
    border-radius: 10px;
    object-fit: cover;
    grid-area: 'card1';
}

.service__card-blur {
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background: var(--inactive-card-outer-bg);
    backdrop-filter: var(--inactive-card-outer-filter);
    transition: 400ms;
}

.service__card-content {
    max-width: 280px;
    width: 100%;
    height: 333px;
    background: var(--inactive-card-bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 61px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service__card-title {
    font-size: 25px;
    text-align: center;
    max-width: 221px;
    width: 100%;
}

.service__card-subtitle {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    max-width: 241px;
    width: 100%;
}

.service__card-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--prim-main-bg);
    display: grid;
    place-items: center;
    margin-top: 40px;
}

.service__card-btn i {
    font-size: 20px;
    color: var(--prim-title-color);
}

.service__card:hover .service__card-blur {
    backdrop-filter: blur(0);
    background: transparent;
}

.service__card-content:hover {
    background: var(--active-card-bg);
}

.service__card-content:hover .card__txt{
    color: #fff;
}

.service__card-btn:hover i{
    color: var(--btn-bg);
}

/* service end */

/* plan start */

.plan {
    padding: 70px 0;
}

.plan__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__subtitle {
    font-size: 20px;
    font-weight: bold;
}

.plan__title {
    margin-top: 15px;
    font-size: 35px;
}

.plan__scroll-box {
    margin-top: 30px;
    padding: 10px;
    max-width: 353px;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    border-radius: 5px;
    border: var(--plan-btn-outer-border);
}

.plan__scroll-box .active{
    font-size: 18px;
    text-align: center;
    width: 170px;
    padding: 10px 0;
    color: var(--sec-txt-color);
    background: var(--btn-bg);
    border-radius: 5px;
}

.plan__scroll-btn {
    font-size: 18px;
    text-align: center;
    width: 170px;
    padding: 10px 0;
    color: var(--prim-txt-color);
    background: transparent;
    border-radius: 5px;
}

.plan__cards {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plan__card {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: var(--plan-card-bot-shad);
    border-radius: 10px ;
    overflow: hidden;
    transition: 500ms;
}

.plan__card-title {
    font-size: 25px;
    text-align: center;
    padding: 45px 0;
    box-shadow: var(--plan-card-top-shad);
}

.plan__card-info {
    text-align: center;
    padding: 40px 10px;
}

.plan__card-prise {
    font-size: 35px;
    color: var(--prim-title-color);
    font-weight: bold;
}

.plan__card-prise span {
    font-size: 18px;
}

.plan__card-time {
    margin-top: 15px;

}

.plan__card-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.plan__card-txt {
    font-size: 20px;
    font-weight: bold;
}

.plan__card-button {
    margin-top: 30px;
    padding: 15px 0;
    width: 161px;
    border: var(--plan-btn-outer-border);
    border-radius: 5px;
    color: var(--hover-link-color);
    font-size: 25px;
    transition: 500ms;
}

.plan__card:hover {
    background: var(--plan-card-active-bg-bot);
}

.plan__card:hover .plan__card-title {
    background: var(--plan-card-active-bg-top);
    color: var(--prim-main-bg);
}

.plan__card:hover p {
    color: var(--prim-main-bg);
}

.plan__card:hover .plan__card-button {
    background: var(--btn-bg);
    color: var(--btn-txt-color);
}

/* plan end */

/* comment start */

.comment {
    padding: 70px 0;
}

.comment__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment__subtitle {
    margin-top: 25px;
    max-width: 715px;
    width: 100%;
    text-align: center;
}

.comment__box {
    margin-top: 70px;
    display: flex;
    column-gap: 167px;
    width: 100%;
    border: 1px solid #050c262d;
    border-radius: 10px;
    padding: 60px;
    overflow: hidden;
    position: relative;
}

.comment__card {
    max-width: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.comment__box .active .comment__card-txt {
    color: var(--prim-title-color);
}

.comment__card-text {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

.comment__card-icon {
    margin-top: -10px;
}

.comment__card-txt {
    font-style: italic;
}

.comment__card-profile {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.comment__card-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.comment__card-name {
    font-size: 20px;
}

.comment__card-job {
    font-size: 16px;
    margin-top: 5px;
}

.comment__indicators {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.comment__indicator {
    width: 20px;
    height: 11px;
    border-radius: 20px;
    background: var(--btn-bg);
    opacity: 0.1;
    cursor: pointer;
}

.comment__indicators .active {
    width: 40px;
    opacity: 1;
}

/* comment end */

/* footer start */

.footer {
    margin-top: 70px;
    padding: 75px 0 30px;
    background: var(--footer-bg);
}

.footer h2, footer h3, footer p, footer a{
    color: var(--sec-title-color);
}

.footer__cards {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    column-gap: 71px;
    padding-bottom: 55px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.103);
}

.footer__logo-card {
    max-width: 316px;
    width: 100%;
}

.footer__logo-title {
    font-size: 25px;
}

.footer__logo-txt {
    margin-top: 30px;
    opacity: 0.5;
}

.footer__card-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.footer__card-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer__card-link {
    font-size: 16px;
    opacity: 0.5;
}

.footer__card-email {
    opacity: 0.5;
}

.footer__list {
    display: flex;
    column-gap: 25px;
    margin: 10px 0 0;
}

.footer__button {
    margin-top: 30px;
    display: block;
    text-align: center;
    max-width: 161px;
    width: 100%;
    background: var(--btn-bg);
    border-radius: 10px;
    padding: 15px 0;
}

.footer__info {
    text-align: center;
    opacity: 0.2;
    padding: 30px 0 0;
}

/* footer end */